html {
  background-color: white;
  text-align:justify;
  text-justify: inter-word;
  font-family: "Free Sans" , Verdana,;
}

.contenu {
  background-color: white;
}

.reminder {
    position:fixed;
    width:30%;
    right:40px;
    top:150px;
    height:90%;
    overflow-y: auto;
    }

/* MENUBAR */

.columns { 
  min-height: 30px;
  list-style-type : none;
  margin-bottom: 20px;
  display: block;
  padding-top: 7px;
  padding-right: 30px;
}

.apercu {
  float: left ;
  margin-left: 20px;
  text-align: center;
  height: 100px;
}

fieldset{
  border: solid 3px #0087c2;
}

.left{
  float: left;}

.right {
  float: right;}

.case {  
  /*height: 30px;*/
  display : inline;
  padding : 0 0.5em;
  text-decoration: none;
  position: static;}

a.bouton:link {
  color: white;}

a.bouton:visited {
  color: white;}

.columns, .case {
  background-color:#9b00c2;}


/* BUTTONS */

.input {
 
  color: #fef4e9;
  font-size: 16px;
  display: inline-block;
  background: #4CAF50;
  border-style:none;
   padding: 10px 20px;
}
  input[type="file"] {
  margin-top: 5px;
  font: "Free Sans";
  color: #555555; 
}

.conteneur {
  margin-left: 45%;
  height: 40;
}

.apply {
  padding: .5em 2em .55em;
  display: inline-block;
  background: #27c200;
  border-style:none;
  margin-bottom: 20px;
  margin-right: 15px;  
}

.police {
  font: inherit;
  color: #fef4e9;
  text-decoration: none;
}


/* POLICE */
 
body
{
  background-color: #ccc;
  height:100%;
  width: 100%;
}
.free_sans,h1,h2,h3,h4,h5,h6,li,p,label,a,input {
    font-family: "Free Sans" , Verdana;
}

h1,h2,h3,h4,h5,h6,li,p,label {
  font-weight: 400;
}

h1,h2,h3,h4 {
  color : #0087c2;
}

p,li,h5,h6,label {
  color : #555555;
}




.ligne {
  
  width:100%;
  display:inline-block;
  vertical-align:middle;
  text-align:center;
  height: 35px;
  padding-bottom: 5px;
  float: left;
}
.action{
  display:inline-block;
  vertical-align:middle;
  text-align:center;
}

.titre {
  width: 40%;
  display:inline-block;
  vertical-align:middle;
  text-align: left;
  height: 100%;
  margin-left: 50px;
  float: left;
}


input
{

  padding: 10px;
  margin:10px;
  width:240px;
}

form, h1, p
{
  text-align:center;
}

.content
{
  width:400px;
  margin:auto;
  border:1px black solid;
  position: absolute;
  top:0;
  right: 0;
  left:0;
  bottom: 0;
  height: 400px;

}
a
{
  width:200px;
      background-color: white;
    color: black;
    border: 2px solid #4CAF50;
    padding: 10px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
}
a:hover {
background-color: #4CAF50;
color: white;
}